pdfium/build/*
pdfium/test/userPreferences.*
pdfium/.vs/*
pdfium/Objs/*
pdfium/test/Plugins/pdfium.bundle/Contents/Windows64/pdfium.exp
pdfium/test/Plugins/pdfium.bundle/Contents/Windows64/pdfium.lib
pdfium/test/Project/DerivedData/*
